<nav>

  <ul class="topnav" id="topnav">

    <li><a href="/" class="brand">ismymusicsad</a></li>
    <!-- if logged in: -->
    <li><a href="/analyse">playlist analysis</a></li>
    <li><a href="/songAnalyse">song analysis</a></li>
    <li><a href="/topsongs">your top songs</a></li>

    <li><a href="/happy">most happy playlist</a></li>
    <li><a href="/sad">most sad playlist</a></li>

    <!-- else: -->
    <li><a href="/overview">feature overview</a></li>
    <li class="-icon">
      <a href="javascript:void(0);" onclick="topnav('topnav')">☰</a>
    </li>

  </ul>

</nav>
